.benefits {

  // .benefits__inner

  &__inner {}

  // .benefits__header

  &__header {
    margin-bottom: 90px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 60px;
    }
  }

  // .benefits__list

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 30px;

    @media (max-width: $breakpoint992) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
      row-gap: 20px;
    }

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .benefits__item

  &__item {
    display: grid;
    align-content: flex-start;
    justify-items: center;
    row-gap: 30px;
    padding: 40px 28px 54px;
    border-radius: 24px;
    border: 2px solid var(--blue-color);
    text-align: center;

    img {
      max-width: 100%;
      object-fit: cover;
    }

    p {
      font-size: 18px;
      line-height: 140%;
    }

    @media (max-width: $breakpoint768) {
      row-gap: 20px;
      padding: 30px 20px;

      p {
        font-size: 16px;
      }
    }
  }
}