// Footer
.footer {
  padding: 92px 0 34px;
  background-color: var(--blue-color);
  color: var(--white-color);

  @media (max-width: $breakpoint992) {
    padding: 60px 0 20px;
  }

  @media (max-width: $breakpoint768) {
    padding: 40px 0;
  }

  // .footer__inner

  &__inner {
    display: flex;
    flex-direction: column;
  }

  // .footer__top

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;
    margin-bottom: 64px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 40px;
    }

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      row-gap: 20px;
    }
  }

  // .footer__logo

  &__logo {
    max-width: 200px;

    img {
      max-width: 100%;
    }
  }

  // .footer__socials

  &__socials {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  // .footer__social

  &__social {}

  // .footer__social-link

  &__social-link {
    img {
      transition: transform 0.2s linear;
    }

    @media (hover: hover) {
      &:hover {
        img {
          transform: scale(1.2);
        }
      }
    }


  }

  // .footer__nav

  &__nav {
    display: grid;
    grid-template-columns: 306px 1fr;
    column-gap: 76px;
    margin-bottom: 120px;

    @media (max-width: $breakpoint1450) {
      column-gap: 48px;
    }

    @media (max-width: $breakpoint992) {
      grid-template-columns: 180px 1fr;
      column-gap: 36px;
      margin-bottom: 80px;
    }

    @media (max-width: $breakpoint768) {
      display: flex;
      flex-direction: column-reverse;
      row-gap: 20px;
      margin-bottom: 60px;
    }
  }

  // .footer__addresses

  &__addresses {
    max-width: 306px;

    @media (max-width: $breakpoint768) {
      max-width: 100%;
    }
  }

  // .footer__addresses-line

  &__addresses-line {
    height: 5px;
    width: 108px;
    margin-bottom: 48px;
    border-radius: 50px;
    background-color: var(--primary-color);
  }

  // .footer__address

  &__address {
    margin-bottom: 20px;
    font-family: var(--primary-font);
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;

  }

  // .footer__label

  &__label {
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
  }

  // .footer__link

  &__link {
    display: flex;
    width: fit-content;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    transition: color 0.2s linear;
    color: var(--white-color);

    @media (hover: hover) {
      &:hover {
        color: var(--primary-color);
      }
    }
  }

  // .footer__lists

  &__lists {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 48px;

    @media (max-width: $breakpoint1450) {
      column-gap: 24px;
    }

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 24px;
    }
  }

  // .footer__list

  &__list {}

  // .footer__item-label

  &__item-label {
    margin-bottom: 24px;

    h4 {
      color: var(--white-color);
      font-size: 24px;
      font-weight: 900;

      @media (max-width: $breakpoint992) {
        font-size: 18px;
      }
    }
  }

  // .footer__item

  &__item {}

  // .footer__item-link

  &__item-link {
    color: var(--white-color);
    font-size: 15px;
    line-height: 250%;

    transition: color 0.2s linear;

    @media (hover: hover) {
      &:hover {
        color: var(--primary-color);
      }
    }
  }

  // .footer__bottom

  &__bottom {
    padding: 50px 0;
    border-top: 1px solid #1C273D;

    @media (max-width: $breakpoint992) {
      padding: 30px 0;
    }
  }

  // .footer__copy

  &__copy {
    font-size: 12px;
    line-height: 140%;
  }
}

.footer__scroll {
  position: sticky;
  bottom: 50px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: fit-content;
  margin-left: auto;
  cursor: pointer;

  svg {
    user-select: none;
    pointer-events: none;
    transition: all 0.2s linear;
  }

  @media (hover: hover) {
    &:hover {
      svg path {
        fill: var(--white-color);
      }

      svg rect {
        stroke: var(--white-color);
        fill: var(--primary-color);
      }
    }
  }

}