.form {

  // .form__title

  &__title {
    margin-bottom: 32px;
    font-size: 52px;

    @media (max-width: $breakpoint1450) {
      font-size: 40px;
    }

    @media (max-width: $breakpoint992) {
      font-size: 30px;
      margin-bottom: 20px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 24px;
    }
  }

  // .form__descr

  &__descr {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 140%;

    @media (max-width: $breakpoint992) {
      font-size: 18px;
      margin-bottom: 20px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 16px;
    }
  }

  // .form__input

  &__input {
    display: block;
    max-width: 474px;
    width: 100%;
    margin-bottom: 16px;
    padding: 20px 30px;
    border-radius: 5px;
    border: 1px solid #D0D0D0;
    background-color: var(--white-color);

    &::placeholder {
      font-family: var(--primary-font);
      color: #A1A1A1;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 140%;
    }

    @media (max-width: $breakpoint992) {
      padding: 16px;
    }
  }

  // .form__textarea

  &__textarea {
    resize: none;
    height: 130px;
  }

  // .form__btn

  &__btn {}
}