// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint1450) {
    // max-width: 1200px;
  }

  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}

// Body Locked
body {
  background-color: var(--bg-color);
  font-family: var(--primary-font);
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);

  &.locked {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4 {
  font-family: var(--secondary-font);
  font-weight: 600;
  color: var(--text-color);
  line-height: 100%;
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}