.price-card {
  display: grid;
  padding: 20px 42px 40px;
  border-radius: 24px;
  border: 2px solid var(--blue-color);
  background-color: var(--white-color);

  @media (max-width: $breakpoint1450) {
    padding: 20px 20px 40px;
  }


  // .price-card__discont

  &__discont {
    width: fit-content;
    margin: -42px auto 10px;
    padding: 10px 20px;
    border-radius: 100px;
    background: var(--primary-color);

    font-family: var(--secondary-font);
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 120%;
    color: var(--white-color);
  }

  // .price-card__header

  &__header {
    margin-bottom: 24px;
  }

  // .price-card__title

  &__title {
    margin-bottom: 20px;
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 28px;
    font-weight: 600;
    line-height: 120%;

    @media (max-width: $breakpoint768) {
      font-size: 20px;
    }
  }

  // .price-card__header-items

  &__header-items {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  // .price-card__header-item

  &__header-item {
    display: flex;
    align-items: center;
    column-gap: 6px;
  }

  // .price-card__header-texts

  &__header-texts {}

  // .price-card__header-text

  &__header-text {
    color: #64676F;
    font-size: 12px;
    line-height: 120%;

    @media (max-width: 359px) {
      font-size: 10px;
    }
  }

  &__pic {}

  // .price-card__price

  &__price {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0;
    margin-bottom: 20px;
    border-top: 1px solid #3B3B3B;
    border-bottom: 1px solid #3B3B3B;
  }

  // .price-card__sum

  &__sum {
    margin-bottom: 8px;
    font-family: var(--secondary-font);
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    color: var(--primary-color);

    @media (max-width: $breakpoint768) {
      font-size: 24px;
    }
  }

  // .price-card__descr

  &__descr {
    color: var(--blue-color);
    text-align: center;
    font-size: 12px;
    font-weight: 200;
    line-height: 100%;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  // .price-card__points

  &__points {
    margin-bottom: 24px;
  }

  // .price-card__points-label

  &__points-label {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 130%;
    color: var(--blue-color);
  }

  // .price-card__points-list

  &__points-list {

    padding-left: 20px;
  }

  // .price-card__points-item

  &__points-item {
    list-style: disc;
    font-size: 14px;
    line-height: 150%;
    color: var(--blue-color);
  }

  // .price-card__footer

  &__footer {
    margin-top: auto;
  }

  // .price-card__footer-label

  &__footer-label {
    margin-bottom: 12px;
    color: #BB9A6B;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
  }

  // .price-card__btn

  &__btn {
    width: 100%;
    margin: 0 auto;
    padding: 16px;
    font-size: 12px;

    @media (max-width: 359px) {
      font-size: 10px;
    }
  }
}